<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="60">
    <!--monitorInterval 热加载配置文件的时间间隔(秒)-->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} sessionId[%X{sessionId}] [%thread] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </appenders>

    <loggers>
        <AsyncRoot level="debug">
            <appender-ref ref="console"/>
        </AsyncRoot>
        <!--
            additivity开启的话，由于这个logger也是满足root的，所以会被打印两遍。
            -->
        <logger name="org.springframework" level="debug" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.wing4j.litebatis" level="debug" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="log4jdbc" level="debug" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="jdbc.audit" level="off" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="jdbc.sqlonly" level="off" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="jdbc.sqltiming" level="debug" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="jdbc.connection" level="off" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="jdbc.resultset" level="off" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="jdbc.resultsettable" level="debug" additivity="false">
            <appender-ref ref="console"/>
        </logger>
    </loggers>
</configuration>